# Import dataset

In [1]:
import pandas as pd
df = pd.read_csv(r"Food_and_Nutrition__.csv")

# Exploratory Data Analysis

In [2]:
df.head()

,Ages,Gender,Height,Weight,Activity Level,Dietary Preference,Daily Calorie Target,Protein,Sugar,Sodium,Calories,Carbohydrates,Fiber,Fat,Breakfast Suggestion,Lunch Suggestion,Dinner Suggestion,Snack Suggestion,Disease
0,25,Male,180,80,Moderately Active,Omnivore,2000,120,125.0,24.0,2020,250,30.0,60,Oatmeal with berries and nuts,Grilled chicken salad with mixed greens,Salmon with roasted vegetables,Greek yogurt with fruit,Weight Gain
1,32,Female,165,65,Lightly Active,Vegetarian,1600,80,100.0,16.0,1480,200,24.0,40,Tofu scramble with veggies,Lentil soup with whole wheat bread,Vegetable stir-fry with brown rice,Apple with almond butter,"Weight Gain, Hypertension, Heart Disease"
2,48,Male,175,95,Sedentary,Vegan,2200,100,150.0,20.0,2185,300,36.0,65,Tofu and veggie breakfast burrito,Black bean burger on a whole wheat bun,Lentil and vegetable curry,Trail mix,Weight Gain
3,55,Female,160,70,Very Active,Omnivore,2500,140,175.0,28.0,2680,350,42.0,80,Greek yogurt with granola and fruit,Chicken and vegetable stir-fry,Turkey chili with brown rice,Banana with peanut butter,Weight Gain
4,62,Male,170,85,Sedentary,Vegetarian,2000,80,125.0,16.0,1815,250,30.0,55,Scrambled eggs with whole wheat toast and avocado,Quinoa salad with chickpeas and vegetables,Vegetarian chili with cornbread,Fruit and nut mix,Weight Gain

In [3]:
df.columns

Index(['Ages', 'Gender', 'Height', 'Weight', 'Activity Level',
       'Dietary Preference', 'Daily Calorie Target', 'Protein', 'Sugar',
       'Sodium', 'Calories', 'Carbohydrates', 'Fiber', 'Fat',
       'Breakfast Suggestion', 'Lunch Suggestion', 'Dinner Suggestion',
       'Snack Suggestion', 'Disease'],
      dtype='object')

In [4]:
df.describe()

,Ages,Height,Weight,Daily Calorie Target,Protein,Sugar,Sodium,Calories,Carbohydrates,Fiber,Fat
count,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000
mean,43.961720,174.130153,78.064193,2275.171967,139.898115,126.192580,27.979623,2196.440518,252.385159,30.286219,69.700824
std,15.915002,13.420936,16.949264,558.812405,53.326588,34.938902,10.665318,571.089569,69.877804,8.385337,21.430707
min,18.000000,150.000000,48.000000,1200.000000,50.000000,60.000000,10.000000,990.000000,120.000000,14.400000,30.000000
25%,30.000000,163.250000,64.000000,1800.000000,100.000000,100.000000,20.000000,1770.250000,200.000000,24.000000,52.000000
50%,42.000000,174.000000,78.000000,2200.000000,136.000000,124.000000,27.200000,2146.000000,248.000000,29.760000,69.000000
75%,57.000000,185.000000,91.000000,2689.000000,174.000000,150.000000,34.800000,2549.750000,300.000000,36.000000,85.000000
max,79.000000,200.000000,119.000000,4364.000000,327.000000,218.000000,65.400000,4357.000000,436.000000,52.320000,145.000000

In [5]:
df.duplicated().sum()

0

In [6]:
df.isna().sum()

Ages                    0
Gender                  0
Height                  0
Weight                  0
Activity Level          0
Dietary Preference      0
Daily Calorie Target    0
Protein                 0
Sugar                   0
Sodium                  0
Calories                0
Carbohydrates           0
Fiber                   0
Fat                     0
Breakfast Suggestion    0
Lunch Suggestion        0
Dinner Suggestion       0
Snack Suggestion        0
Disease                 0
dtype: int64

In [7]:
df['Disease'].value_counts()

Disease
Weight Gain                                                                 1312
Weight Gain, Hypertension, Heart Disease                                     129
Weight Gain, Kidney Disease                                                   91
Weight Gain, Hypertension, Heart Disease, Kidney Disease                      82
Diabetes, Acne, Weight Gain, Hypertension, Heart Disease                      45
Diabetes, Acne, Hypertension, Heart Disease                                   14
Hypertension, Heart Disease                                                    9
Diabetes, Acne, Weight Gain, Hypertension, Heart Disease, Kidney Disease       5
Hypertension, Heart Disease, Kidney Disease                                    4
Kidney Disease                                                                 3
Hypertension, Kidney Disease                                                   2
Diabetes, Acne, Hypertension, Kidney Disease                                   1
Diabetes, Acne, Weight Loss, Hypertension, Heart Disease, Kidney Disease       1
Name: count, dtype: int64

# Data Cleaning

In [8]:
# Splitting the 'Disease' column into lists
df['Disease'] = df['Disease'].str.split(', ')

# Counting the frequency of each disease
disease_counts = pd.Series([disease for diseases in df['Disease'] for disease in diseases]).value_counts()

# Displaying the frequency of diseases
display(disease_counts)

# Getting the list of unique diseases
common_diseases = disease_counts.index

Weight Gain       1664
Hypertension       292
Heart Disease      289
Kidney Disease     189
Diabetes            66
Acne                66
Weight Loss          1
Name: count, dtype: int64

In [9]:
for disease in common_diseases:
    df[disease] = df['Disease'].apply(lambda diseases: 1 if disease in diseases else 0)

# Displaying the updated DataFrame
display(df.head())

,Ages,Gender,Height,Weight,Activity Level,Dietary Preference,Daily Calorie Target,Protein,Sugar,Sodium,...,Dinner Suggestion,Snack Suggestion,Disease,Weight Gain,Hypertension,Heart Disease,Kidney Disease,Diabetes,Acne,Weight Loss
0,25,Male,180,80,Moderately Active,Omnivore,2000,120,125.0,24.0,...,Salmon with roasted vegetables,Greek yogurt with fruit,[Weight Gain],1,0,0,0,0,0,0
1,32,Female,165,65,Lightly Active,Vegetarian,1600,80,100.0,16.0,...,Vegetable stir-fry with brown rice,Apple with almond butter,"[Weight Gain, Hypertension, Heart Disease]",1,1,1,0,0,0,0
2,48,Male,175,95,Sedentary,Vegan,2200,100,150.0,20.0,...,Lentil and vegetable curry,Trail mix,[Weight Gain],1,0,0,0,0,0,0
3,55,Female,160,70,Very Active,Omnivore,2500,140,175.0,28.0,...,Turkey chili with brown rice,Banana with peanut butter,[Weight Gain],1,0,0,0,0,0,0
4,62,Male,170,85,Sedentary,Vegetarian,2000,80,125.0,16.0,...,Vegetarian chili with cornbread,Fruit and nut mix,[Weight Gain],1,0,0,0,0,0,0

# Feature Engineering

In [10]:
# Manually mapping 

activity_mapping = {
    'Sedentary': 0,
    'Lightly Active': 1,
    'Moderately Active': 2,
    'Very Active': 3,
    'Extremely Active': 4
}

df['Activity Level'] = df['Activity Level'].map(activity_mapping)

# One-Hot Encoding for 'Dietary Preference'
df = pd.get_dummies(df, columns=['Dietary Preference'])

# Converting One-Hot Encoded columns to integers
for col in df.columns:
    if 'Dietary Preference' in col:
        df[col] = df[col].astype(int)

# Displaying the final DataFrame
df

,Ages,Gender,Height,Weight,Activity Level,Daily Calorie Target,Protein,Sugar,Sodium,Calories,...,Hypertension,Heart Disease,Kidney Disease,Diabetes,Acne,Weight Loss,Dietary Preference_Omnivore,Dietary Preference_Pescatarian,Dietary Preference_Vegan,Dietary Preference_Vegetarian
0,25,Male,180,80,2,2000,120,125.0,24.0,2020,...,0,0,0,0,0,0,1,0,0,0
1,32,Female,165,65,1,1600,80,100.0,16.0,1480,...,1,1,0,0,0,0,0,0,0,1
2,48,Male,175,95,0,2200,100,150.0,20.0,2185,...,0,0,0,0,0,0,0,0,1,0
3,55,Female,160,70,3,2500,140,175.0,28.0,2680,...,0,0,0,0,0,0,1,0,0,0
4,62,Male,170,85,0,2000,80,125.0,16.0,1815,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,53,Female,182,76,0,1265,94,63.0,18.8,1258,...,1,1,0,1,1,0,0,0,1,0
1694,38,Male,150,76,3,2109,158,105.0,31.6,2102,...,0,0,0,0,0,0,0,0,1,0
1695,57,Male,165,73,3,2555,191,127.5,38.2,2549,...,0,0,0,0,0,0,0,0,1,0
1696,40,Male,166,91,4,3329,249,166.0,49.8,3314,...,0,0,0,0,0,0,0,0,1,0
1697,54,Female,198,75,0,1867,140,93.0,28.0,1862,...,0,0,0,0,0,0,0,0,0,1

# Data Normalization

In [11]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# List of feature columns to use for normalization
feature_columns = [
    'Ages', 'Weight', 'Activity Level',
    'Weight Gain', 'Hypertension', 'Heart Disease', 'Kidney Disease',
    'Diabetes', 'Acne', 'Weight Loss',
    'Dietary Preference_Omnivore', 'Dietary Preference_Pescatarian',
    'Dietary Preference_Vegan', 'Dietary Preference_Vegetarian'
]

# Function to normalize both meal features and user profile
def normalize_data(df, user_profile, feature_columns):
    scaler = StandardScaler()

    # Normalizing meal features
    meal_features_normalized = scaler.fit_transform(df[feature_columns])

    # Normalizing user profile
    user_profile_vector = pd.DataFrame([user_profile])[feature_columns]
    user_profile_normalized = scaler.transform(user_profile_vector)

    return meal_features_normalized, user_profile_normalized

# Content-Based Recommendation System

In [12]:
# Function to recommend meals
def recommend_meals_content_based(user_profile_normalized, meal_features_normalized, df):
    # Calculating similarity
    similarity_scores = cosine_similarity(user_profile_normalized, meal_features_normalized)

    # Copying df to avoid modifying the original dataset
    df_copy = df.copy()
    df_copy['Similarity'] = similarity_scores[0]

    # Recommend top 5 meals
    recommendations = df_copy.sort_values(by='Similarity', ascending=False).head(5)

    return recommendations[
    ['Breakfast Suggestion', 'Lunch Suggestion', 'Dinner Suggestion', 'Snack Suggestion',
     'Protein', 'Sugar', 'Sodium', 'Calories', 'Carbohydrates', 'Fiber', 'Fat', 'Similarity']
]

In [13]:
# Defining only the selected features (others will be 0 by default)
selected_features = { 
    'Ages': 65,
    'Weight': 80,
    'Activity Level': 2, # lightly active
    'Weight Gain': 1,
    'Dietary Preference_Omnivore': 1
}

# Creating a user profile with all features set to 0 by default
user_profile = {feature: 0 for feature in feature_columns}

# Updating only the selected features
user_profile.update(selected_features)

# Normalizing data
meal_features_normalized, user_profile_normalized = normalize_data(df, user_profile, feature_columns)

# Get top 5 recommended meals
recommendations = recommend_meals_content_based(user_profile_normalized, meal_features_normalized, df)

# Print recommendations
recommendations

,Breakfast Suggestion,Lunch Suggestion,Dinner Suggestion,Snack Suggestion,Protein,Sugar,Sodium,Calories,Carbohydrates,Fiber,Fat,Similarity
92,Eggs with whole-wheat toast and bacon,Chicken breast with roasted vegetables,Steak with mashed potatoes and green beans,Greek yogurt with berries,140,140.0,28.0,2310,280,33.60,70,0.997565
1650,Oatmeal with berries and nuts,Black bean burger on a whole wheat bun,Turkey chili with brown rice,Trail mix,207,138.5,41.4,2764,277,33.24,92,0.996927
1501,Scrambled eggs with whole wheat toast,Black bean burger on a whole wheat bun,Salmon with roasted vegetables,Trail mix,191,127.5,38.2,2549,255,30.60,85,0.996745
479,Greek yogurt with granola and fruit,Chicken salad with whole-wheat bread,Turkey chili with brown rice,Trail mix,100,110.0,20.0,1730,220,26.40,50,0.988758
1224,Oatmeal with berries and nuts,Lentil soup with whole wheat bread,Pasta with marinara sauce and veggies,Trail mix,195,130.0,39.0,2594,260,31.20,86,0.985921

# Exporting the model to a pickle file

In [14]:
import joblib

# Saving the dataset and feature columns
joblib.dump((df, feature_columns), "diet_recommendation_model.pkl")

['diet_recommendation_model.pkl']

In [15]:
df, feature_columns = joblib.load("diet_recommendation_model.pkl")
print("Dataset Loaded Successfully")

Dataset Loaded Successfully